.button {
  font-weight: bold;
  background-color: #eba417;
  padding: 15px;
  cursor: pointer;
  margin-right: 5px;
  border: none;
  border-radius: 0.3rem;
  transition: filter 0.3s;
}

button:hover {
  filter: brightness(0.7);
}

h1 {
  margin-bottom: 50px;
  letter-spacing: 5px;
}
